* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blueviolet;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 400px;
    padding: 20px;
    border-radius: 16px;
    backdrop-filter: blur(10px);  /* Adjust blur */
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #020202;
    overflow: hidden;
}

.search-box {
    display: flex;
    align-items: center;
    height: 55px;
    position: relative;
    margin-bottom: 15px;
}

.search-box input {
    width: 100%;
    padding: 10px 45px;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: #000;
    border-radius: 8px;
    text-transform: capitalize;
}

.search-box button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: black;
}

.weather-box {
    text-align: center;
    margin-top: 10px;
}

.weather-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.weather-box .temperature {
    font-size: 48px;
    font-weight: 700;
}

.weather-box .description {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.weather-details div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none;
}

.not-found {
    text-align: center;
    margin-top: 20px;
}

.not-found img {
    width: 80px;
    margin-bottom: 10px;
}

.not-found p {
    font-size: 18px;
    font-weight: 500;
    color: black;
}


